<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>File Details</title>
</head>
<body>
  <%- include("partials/header") %>
  <div class="main-page-container">
    <a class="back-btn" href="<%='/folders/' + (file.folderId ? file.folderId : '')%>">⬅️ Back To Folder</a>
    <h2 class="file-detail-title" ><%= file.originalName %> </h2>
    <p><strong>Size:</strong> <%= file.formattedSize %></p>
    <p><strong>Upload Time:</strong> <%= file.uploadTime %></p>
    <div class="btns-cont">
      <a class="file-download-btn" href="<%= "/files/" + file.id + "/download" %>">Download</a>
    <form method="POST" action="<%= "/files/" + file.id + "/delete" %>" >
      <button type="submit" class="file-delete-btn">Delete</button>
    </form>
    </div>
    
  </div>  
</body>
</html>